body {
  font-family: Arial, sans-serif;
  background-color: #276B46;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.toggle-btn {
  margin-bottom: 1rem;
  cursor: pointer;

}

.navbar {
  background-color: #276B46;
  padding: 10px;
  width: 60px; /* Largura inicial encolhida */
  transition: width 0.3s;
  position: fixed;
  top: 0; /* Coloca a navbar no topo */
  height: 100%;
  overflow: hidden;
  z-index: 9999;
}

.navbar.expanded {
  width: 200px; /* Largura expandida */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar li {
  margin: 10px 0;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #1e90ff;
}

.navbar img.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  filter: invert(1); /* Torna os ícones brancos */
}

.menu-text {
  display: none; /* Esconde o texto do menu quando encolhido */
}

.navbar.expanded .menu-text {
  display: inline; /* Mostra o texto do menu quando expandido */
}
