body {
  font-family: Arial, sans-serif;
  background-color: #276B46;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.toggle-btn {
  margin-bottom: 1rem;
  cursor: pointer;
}

.navbar {
  background-color: #276B46;
  padding: 10px;
  width: 30px;
  transition: width 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
}

.navbar.expanded {
  display: block;
  width: 200px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar li {
  margin: 10px 0;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #9c9c9c;
}

.navbar img.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  filter: invert(1);
}

.menu-text {
  display: none;
}

.navbar.expanded .menu-text {
  display: inline;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #276B46;
    padding: 10px;
    width: 30px;
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    display: none;
  }

.menu-text {
  display: none;
}

.navbar.expanded .menu-text {
  display: none;
}
  .navbar.expanded {
    display: block;
    width: 30px;
  }
  .floating-btn {
    position: fixed;
    bottom: 80px;
    right: 40px;
    background-color: #276B46;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0;
    font-size: 24px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .floating-btn:hover {
    background-color: #205739;
  }
}
