<div class="container-produto">
  <h3 class="header">Nova Categoria</h3>
  <form #f="ngForm" autocomplete="off" (ngSubmit)="createCategory(f)">
    <div class="form-group nome">
      <label>Nome</label>
      <input type="text" [(ngModel)]="categoria.nome" name="nome"/>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Descrição</label>
        <input type="text" [(ngModel)]="categoria.descricao" name="marca"/>
      </div>

      <div class="form-group">
        <label>Imagem</label>
        <input type="file" (change)="onFileSelected($event)" name="img"/>
      </div>
    </div>

    <button type="submit">Salvar</button>
    <a [routerLink]="['/categoria']">Retornar</a>
  </form>
</div>
