<div class="estoque-container">

  <div class="tabela">
  <h3 class="header">Despensa</h3>

  <div class="pesquisa">
    <label>Pesquisar</label>
    <input type="text" name="params" [(ngModel)]="params">
    <a (click)="getListParams(params)">
      <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
        <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
      </svg>
    </a>
  </div>

  <table>
    <tr>
      <th>Categoria</th>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Unidade</th>
      <th>Preço</th>
      <th>Marca</th>
      <th>Validade</th>
      <th></th>
    </tr>

    @for (item of items() | paginate: { itemsPerPage: 5, currentPage: page, totalItems: total }; track item.id) {
      <tr>
      <td><img [src]="'data:image/jpeg;base64,' + item.categories[0].imagem" /></td>
        <td class="tooltip">
          {{ item.nome }}
          @if(item.descricao){
            <span class="tooltiptext">{{item.descricao}}</span>
          }
        </td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.unidade }}</td>
        <td>{{ item.preco }}</td>
        <td>{{ item.marca }}</td>
        <td [ngClass]="item.validade ? isExpired(item.validade) : ''">
          {{ item.validade | date: 'dd/MM/yyyy' }}
        </td>
        <td>
          <svg class="svg" (click)="openModal(item)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#314D1C">
            <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
          </svg>
          <svg class="svg" (click)="delete(item.id)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#314D1C">
            <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
          </svg>
        </td>
      </tr>
    }
    @if (items().length < 0) {
       @for (item of array; track $index) {
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      }
    }
  </table>

  <pagination-controls class="paginacao" (pageChange)="page = $event"></pagination-controls>
  <button type="button" [routerLink]="['/produto']">Novo Produto</button>
</div>
  <!-- Tabela mobile -->
  <div class="tabela-mobile">
    <h3 class="header">Despensa</h3>
    <table>
      <tr>
        <th>Catg</th>
        <th>Nome</th>
        <th>Qtde</th>
        <th></th>
      </tr>
      @for (item of items() | paginate: { itemsPerPage: 5, currentPage: page, totalItems: total }; track item.id) {
        <tr>
          <td><img [src]="'data:image/jpeg;base64,' + item.categories[0].imagem" /></td>
          <td>{{ item.nome }}</td>
          <td>{{ item.quantidade }}</td>
          <td class="icons">
            <svg class="svg" (click)="openModal(item)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#314D1C">
              <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
            </svg>
            <svg class="svg" (click)="delete(item.id)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#314D1C">
              <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
            </svg>
          </td>
        </tr>
      }
    </table>
    <pagination-controls class="paginacao" (pageChange)="page = $event"></pagination-controls>
    <button type="button" [routerLink]="['/produto']">Novo Produto</button>

  </div>
</div>
